html {
	
}

::selection {display: none}

.rnd {
	color: #1a3400;
	background-color: #000c00;
	border: solid;
	border-color: #112200;
	border-width: 10px;
	top: 30%;	
	left: 50%;
	margin-left: -400px;
	padding: 40px;
	width: 800px;
	position: fixed;
	font-size: 70px;
	z-index: -1;
}

.sw {
	color: #4b1c44;
	background-color: #110606;
	border-color: #301130;
	top: 20px;
}

.r {
	color: #223344;
	background-color: #040608;
	border-color: #111f22;
	top: calc(20px + 75px);
}

.play {
	color: #443311;
	background-color: #0d0903;
	border-color: #332211;
	top: calc(20px + 75px * 2);
}

.f {
	color: #302039;
	background-color: #09070b;
	border-color: #1d1023;
	top: calc(20px + 75px * 3);
}

.show {
	color: #223333;
	background-color: #060a0a;
	border-color: #1a2222;
	top: calc(20px + 75px * 4);
}

.remove {
	top: calc(20px + 75px * 5);
	border-color: #101022;
	color: #1a1a33;
	background-color: #000006;
}

.del {
	top: calc(20px + 75px * 6);
	border-color: #101022;
	color: #1a1a33;
	background-color: #000006;
}

.count {
	border-width: 5px;
	border-style: solid;
	position: fixed;
	color: #292929;
	background-color: #080808;
	border-color: #161616;
	top: 20px;
	left: 20px;
	width: 80px;
	font-size: 34px;
	text-align: center;
	padding: 12px 0;
}

.replay {
	color: #333322;
	border-color: #222211;
	background-color: #0b0b06;
	border-width: 7px;
	border-style: solid;
	position: fixed;
	width: 300px;
	margin-left: -150px;
	left: 50%;
	top: 70%;
	padding: 20px 0;
	font-size: 34px;
}

.auto {
	bottom: 20px;
	left: 20px;
	position: fixed;
}

.content {
	border-style: solid;
	border-color: #331111;
	border-width: 1px 4px;
	position: relative;
	color: #441414;
	width: 70px;
	padding: 12px 0;
	text-align: center;
	display: none;
}

.drp {
	position: fixed;
	bottom: 20px; left: 20px;
	color: #441414;
	border: 4px solid #331111;
	width: 70px;
	padding: 20px 0px;
	text-align: center;
	font-size: 22px;
}

.fill {
	position: relative;
	padding: 20px 0px;
	font-size: 22px;
	margin: 4px;
}

.auto:hover .content {display: block;}
.content:hover {
	border-color: #332525;
	color: #443333;
}
.drp:hover {
	border-color: #332525;
	color: #443333;
}

button:focus {outline:0;}

.rnd, .sw, .r, .count, .play, .f, .replay, .auto, .show, .remove, .del {
	font-family: "MS gothic";
}
.sw, .r, .f, .play, .show, .remove, .del {
	border-width: 2px;
	border-style: solid;
	position: fixed;
	font-size: 23px;
	padding: 10px 0px;
	right: 20px;
	width: 120px;
}
